www.jslee.dev jslee.dev {
    reverse_proxy nginx:80
}

api.jslee.dev {
    header Access-Control-Allow-Origin "https://jslee.dev"
    header Access-Control-Allow-Origin "https://api.jslee.dev"
    reverse_proxy yttospot:8080
}
